// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future
.card {
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px !important;
  transition: box-shadow 0.3s ease-in-out !important;

}

.card:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
  box-shadow: rgba(0, 255, 174, 0.2) 0px 30px 50px 0px !important;
}



.p-toast .p-toast-message {
  background-color: rgb(255, 255, 255) !important;
  border: none !important;
  border-radius: 1rem;
}

input[type=file]::file-selector-button {
  border: 2px solid #3b82f6;
  padding: .5em .9em;
  border-radius: 1rem;
  background-color: #3b82f6;
  color: white;
}
